@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Designer.Dnn.Designer.Models.DesignableProduct>> 

@using System.Web.Mvc.Html
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@using Designer.Dnn.Designer.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/desktopmodules/mvc/designer/Views/Shared/_Layout.cshtml";
}
<div class="search-container">
    <form method="get" action="@Url.Action("Index")">
        <input type="text" name="search" placeholder="Termék neve" class="search-input" value="@Request.QueryString["search"]" />
        <button type="submit" class="custom-btn design-btn search">Keresés</button>
    </form>
</div>

<div class="product-grid">
    @foreach (var item in Model)
    {
        <div class="product-card">
            <div class="card-heading">
                <h2 class="product-name">@item.ItemName</h2>
            </div>
            <div class="card-body">
                <img class="product-image" src="@Url.Content("~/desktopmodules/mvc/designer/Assets/ProductImages/"+item.ItemPic)" alt="Tervezhető Póló">
            </div>
            <div class="card-footer">
                <p class="product-price">@item.ItemPrice Ft</p>
                <a href="@Url.Action("Detail", "DesignableProduct", new { id = item.ItemId })" class="design-btn">Tervezd meg</a>
            </div>
        </div>
     }
    
</div>